---
title: "Home"
layout: "layouts/base.njk"
eleventyNavigation:
  key: Home
  order: 1
---
<h2>Hi, I'm Zhan Hong!</h2>
<p>
    Born and raised in Singapore. I like games, gym, guitar, and good books. 
    I am currently working as a Junior Engineer in SNK Games Singapore.
</p>
<p>
    Feel free to look around, check out my projects, or read my latest blog posts.
</p>
<figure> 
    <img alt="A picture of me." src="/images/me_pic.png" width="250">
    <figcaption>Image circa 2021. Still the best I have of me.</figcaption>
</figure>
<figure> 
    <img alt="My cat." src="/images/joey.jpg" width="250">
    <figcaption>My cat, Joey.</figcaption>
</figure>

<h2>Contact</h2>
<a target="_blank" href="res/20240706_resume_zhanhong.pdf">My resume</a>
<br>
<a target="_blank" href="https://github.com/choongzhanhong">GitHub</a>
<br>
<a target="_blank" href="https://www.linkedin.com/in/choongzhanhong/">LinkedIn</a>
<br>
Email:
choongzhanhong[at]gmail[dot]com
