---
layout: "layouts/base.njk"
---
<article>
    <h1>{{ title }}</h1>
    <p>
      <time datetime="{{ page.date | readableDate('yyyy-LL-dd') }}">
        Published on {{ page.date | readableDate('dd LLL, yyyy') }}
      </time>
    </p>
    
    {% if tags %}
    <p>
        Tags:
        {% for tag in tags %}
          {% if tag != "posts" %} {# A little trick to exclude Eleventy's automatic 'posts' tag #}
            <a href="{{ ('/tags/' + tag + '/') | url }}" class="post-tag">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    <hr>

  {# The main content of your Markdown file will be injected here #}
  {{ content | safe }}
</article>
<hr>
<a href="/blog.html"><== Back to Blog</a>
