---
layout: "layouts/base.njk"
---
<article>
    <h1>{{ title }}</h1>
    <p>
      <time datetime="{{ page.date | readableDate('yyyy-LL-dd') }}">    
        {% if start_date and end_date %}
            {% dateRange start_date, end_date %}
        {% else %}
            {{ page.date | readableDate('dd LLL yyyy') }}
        {% endif %}
      </time>
    </p>
    
    {% if tags %}
    <p class="tag-list">
        Tags:
        {% for tag in tags %}
          {% if tag != "posts" %} {# A little trick to exclude Eleventy's automatic 'posts' tag #}
            <a href="{{ ('/tags/' + tag + '.html') | url }}" class="tag-badge">#{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    <hr>

  {# The main content of your Markdown file will be injected here #}
  {{ content | safe }}
</article>

<aside class="back-to-top">
    <a href="#">&#129033; Back to top</a>
</aside>
  
<p>
    <a href="/blog.html">&#129032; Back to Blog</a>
</p>